{% extends "base.html" %}
{% load form_extras %}

{% block title %}Definir nova senha | CliniClick{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-5">
    <h1 class="h4 mb-3">Definir nova senha</h1>
    <form method="post" novalidate>
      {% csrf_token %}
      {% for field in form %}
        <div class="mb-3">
          <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field|add_class:"form-control" }}
          {% for error in field.errors %}
            <div class="invalid-feedback d-block">{{ error }}</div>
          {% endfor %}
        </div>
      {% endfor %}
      <button class="btn btn-primary" type="submit">Salvar nova senha</button>
    </form>
  </div>
</div>
{% endblock %}
