body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #333;
}

select, button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #60c400;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #99e45893;
}

.mensagem-sucesso {
    margin-top: 20px;
    color: #28a745;
    font-weight: bold;
    font-size: 16px;
}
