{% load static %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Médicos e Especialidades</title>
<link rel="stylesheet" href="{% static 'medicos/css/estilo.css' %}">

</head>
<body>
    <div class="form-container">
        <h1>Médicos e Especialidades</h1>
        <form method="post">
            {% csrf_token %}
            
            <label for="especialidade">Especialidade Desejada:</label>
            <select id="especialidade" name="especialidade">
                <option value="">-- Selecione uma Especialidade --</option>
                <!-- opções aqui -->
            </select>

            <label for="medico">Escolha o Médico:</label>
            <select id="medico" name="medico">
                <option value="">--- Selecione um Médico ---</option>
                <!-- opções aqui -->
            </select>

            <button type="submit">Selecionar</button>
        </form>
    </div>
</body>
</html>
